@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    height: 100%;
  }

*, body{
    font-family: Poppins, sans-serif;
    color:antiquewhite !important;
    background-color: #000;
}

.sidebar {
    height: 100vh; /* Altura total da viewport */
    display: flex;
    flex-direction: column; /* Organiza itens verticalmente */
    align-items: center; /* Centraliza horizontalmente os itens */
    padding: 1rem; /* Espaçamento interno */
  }
  
  .sidebar-logo a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .nav-item {
    list-style: none;
  }
  
  .nav-link {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #007bff; /* Cor de destaque ao passar o mouse */
  }
  
  /* Footer no final da barra lateral */
  .nav-footer {
    margin-top: auto; /* Empurra o footer para baixo */
    text-align: center; /* Centraliza o conteúdo do footer */
  }
  
  .trends-sidebar {
    border-radius: 8px; /* Cantos arredondados */
}

.trends-box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.search-bar input {
    border: 0; /* Borda padrão */
    border-radius: 8px; /* Cantos arredondados */
    padding: 0.5rem;
    background-color: rgb(32 35 39);
}

#barradepesquisa::placeholder{
    color: #626262;
}
.trend-item a {
    color: #333; /* Cor do texto */
}

.trend-item a:hover {
    color: #007bff; /* Cor ao passar o mouse */
}

.trend-item p {
    font-size: 0.85rem; /* Tamanho menor para subtítulos */
    margin: 0;
    color: #626262;
}
