<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <title>Posts</title>
    <body>
        
        <nav th:replace="layout :: menu">(menu)</nav>

        <main class="container">
            <h1>Postagens</h1>

            <section>
              <h2>Nova postagem</h2>
              <form th:action="@{/homepage}" method="post" th:object="${postagem}">

                <div class="form-group">
                  <label for="txttexto">Texto</label>
                  <input th:field="*{texto}"id="txttexto" type="text" required>
                </div>
                <button type="submit">Postar</button>
              </form>
            </section>

            <section>
              <h2>Postagens recentes</h2>
              <div th:each="postagem : ${listaPostagens}">
                <p th:text="${postagem.texto}"></p>
                <p>Postado por: <span th:text="${postagem.usuario.nome}"></span></p>
              </div>
            </section>

            <!-- <a href="/homepage/novo" class="btn btn-primary">Novo</a> 
            <table class="table" id="tabelapostagens">
                <thead>
                    <th>Nome</th>
                    <th>Corpo do texto</th>

                </thead>
                <tbody>
                    <tr th:each="umaPostagem : ${listaPostagens}">
                        <td th:text="${umaPostagem.usuario.nome}"></td>
                        <td th:text="${umaPostagem.texto}"></td>
                        <td>

                            <button class=" btn btn-danger js-delete" th:data-id="${umaPostagem.id}">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>  -->
        </main>
        
        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/scriptpostagens.js}"></script>
    </body>
</html>


<div class="modal" tabindex="-1" id="modalpostagem">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir Postagem</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Confirma a exclusão da postagem?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
        </div>
      </div>
    </div>
  </div>