<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        
        <nav th:replace="layout :: menu">(menu)</nav>

        <main class="container">
            <h1>Usuarios</h1>
            <table class="table">
                <thead>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Senha</th>
                </thead>
                <tbody>
                    <tr th:each="umUsuario : ${listaUsuarios}">
                        <td th:text="${umUsuario.nome}"></td>
                        <td th:text="${umUsuario.email}"></td>
                        <td th:text="${umUsuario.email}"></td>
                    </tr>
                </tbody>
            </table>
        </main>
        
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>